

// Body Styles 
body,
html, 
.body {
  background: #727070 !important;
}


.main-table{
  background-color: #ffffff;
}

.total-envy{
  .total
    h1{
      margin-top: 20px;
      text-align: center;
      font-family: 'Kaisei Decol', serif;
      color: #646060;
    }
}

.nav-bar{
  .nav{
    .nav-title{
      display: block !important;
      margin: 0px 0 0 14px !important;
      font-size: 25px;
      line-height: 15px !important;
      }
    a{
      font-family: 'Kaisei Decol', serif;
      font-size: 17px;
      color: #646060;
      text-align: center;
    }
  }
}
 
// blue discount section 
.blue-banner{
  .blue-sale-banner{
    background: #100072;
  }
  background-color: #FFFFFF;
  h1{
    font-size: 61px;
    color: #FFFFFF;
  }
  h2{
    margin: -21px 0 -20px 0;
    margin-bottom: -30px;
    padding-bottom: 20px;
    font-size: 33px;
    color: #FFFFFF;
    letter-spacing: 4px;
  }
  .blue-button{
    float: right;
    margin: 41px 0 0 0;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #333333;
  }
  
}

//  blue main section
.blue-main{
  .blue-main-content{
  background-color: #E2DEDE;
  }
  h1 .blue{ 
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    word-spacing: 65px;
  }
  h1 .lues { 
    display: block;
    padding-left: 1px;
    font-size: 70px;
    font-weight: 800;
    line-height: 185px;
  }
  img{
    width: 65%;
  }
  .buy-now-blue{
    float: left;
    padding: 5px 20px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #0A0883;
  }


}

// blue pics section
.blue-pics{
  .blue-pics-content{
    background-color: #E2DEDE;
  }
  .blue-girl4, .blue-girl3, .blue-girl2, .blue-girl5{
  // width: 60%;
  padding: 43px 0 0 36px;
  } 


  .buy-now-blue-pics{
    float: left;
    padding: 5px 20px;
    margin: 33px 0 15px -91px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #0A0883
  }
}


// red discount section 
.red-banner{
  .red-sale-banner{
    background: #883535 !important;
    background-color: #910e22 !important;
  }
  h1{
    font-size: 61px;
    color: #FFFFFF;
  }
  h2{
    margin: -22px 0 -13px 0;
    margin-bottom: -45px;
    padding-bottom: 20px;
    font-size: 33px;
    color: #FFFFFF;
    letter-spacing: 4px;
  }
  .red-button{
    float: right;
    margin: 41px 0 0px 0;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #333333;
  }
  
}

// red main section
.red-main{
  .red-main-content{
    background-color: #E2DEDE;
  }
  h1 .red{ 
    line-height: 100px;
    word-spacing: 65px;
    font-size: 80px;
    font-weight: 800;
  }
  h1 .reds { 
    display: block;
    padding-left: 1px;
    line-height: 133px;
    font-size: 70PX;
    font-weight: 800;
  }
  img{
    width: 65%;
  }
  .buy-now-red{
    float: left;
    padding: 5px 20px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #883535;
  }

}

// red pics section
.red-pics{
  .red-pics-content{
    background-color: #E2DEDE;
  }
  .red-girl2, .red-girl4, .red-girl33, .red-girl55{
    padding: 30px 0 0 0px;
  }
  .buy-now-red-pics{
    float: left;
    padding: 5px 20px;
    margin: 33px 0 15px -91px;
    border: 1px solid #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #883535;
  }
}

// merch-links
.merch-links{
  background-color: #ffffff;
  hr{
    width: 100%;
    margin-top: 11px !important;
  }
  h1{
    font-size: 20px;
    text-align: center;
    color: #b9b3b3;
    margin: 19px 0 0px 0;
  }
  .sale h1{
    color: red;
  }
  .get-social{
    margin-top: 80px !important;
  }
  .social-ul{
    background-color: #E2DEDE;
  }
  ul{
    list-style: none;
    padding: 0px;
  }
  li{
    display: inline-block;
    margin: 30px 0 30px 80px;
  }
  .line-one{
    margin-top: 50px !important;
  }
  .line-one, .line-two, .line-three, .line-four, .line-five{   
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #938B8B;
  }
  .ancher{
    font-weight: 700;

    color: #938B8B;
  }
  em, .ancher:hover{
    color: #898a8b;
    text-decoration: underline;
  }
 
}

// footer - copy rights
.copyright{
  background-color: #ffffff;
  margin-top: 30px !important;
  h1{
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #938B8B;
  }
  .ancher{
    font-weight: 700;
    color: #938B8B;
  }
  a:hover{
    color: #2199e8;
  }
}



//  MEDIA QUERIES

@media screen and (max-width: 599px) {

  .nav-bar{
    .nav-title{
    display: block !important;
    margin: 20px 0 0 14px !important;
    font-size: 24px;
    line-height: 15px !important;
    }
  }
  // ********  blue  *************
  .blue-sale-banner{
    .title h1 {
    margin-top: 21px !important;
    font-size: 68px !important;
    text-align: center !important;
    }
    .title h2 {
      font-size: 30px !important;
      text-align: center !important;
    }
    .blue-button {
    margin: 0px 180px 16px 0 !important;
    font-size: 20px !important;
    }

  }
  .blue-main-content{
        // display: block !important;
    .blue{
      font-size: 70px !important;
      word-spacing: 35px !important;
    }
    .lues{
      font-size: 70px !important;
      line-height: 145px !important;
    }
  }
  .buy-now-blue-pics{
    margin: 30px 0 30px -89px !important;
  }

  // ********  red  *************
  .red-main-content{
    .red{
      font-size: 50px !important;
      word-spacing: 66px !important;
    }
    .reds{
      font-size: 50px !important;
      line-height: 155px !important;
    }
  }
  .red-sale-banner{
    .title h1 {
    margin-top: 21px !important;
    margin-bottom: 15px !important;
    font-size: 70px !important;
    text-align: center !important;
    }
    .title h2 {
    font-size: 34px !important;
    text-align: center !important;
    }
    .red-button {
    margin: 0px 171px 0px 0 !important;
    font-size: 28px !important;
    }
  
  }
  .red-main-content{
    .red-girl{
      width: 77% !important;
    }
    .red{
      font-size: 61px !important;
      word-spacing: 78px !important;
    }
    .reds{
      margin: -50px 0 0 0;
      font-size: 61px !important;
      line-height: 221px !important;
    }
  }
  .red-pics-content{
  
    .red-girl2, .red-girl4 {
      width: 85% !important;
      margin: 0 0 0 0px !important;
    }
  
    .red-girl33, .red-girl55 {
      margin: 4px 0 0 0px !important;
    }
    .red-girl55{
      margin: 52px 0 0 0 !important;
    }
  
    .buy-now-red-pics{
      margin: 60px 0 0 -110px!important;
      font-size: 25px!important;
    }
  
  }
  .social-ul li{
    margin: 9px 20px 0 33px !important
  }
  

}

@media screen and (max-width: 460px){
  .nav-bar{
    .nav-title{
    font-size: 20px !important;
    line-height: 1px;
    }
  }
  // ********  blue  *************
  .blue-sale-banner{
    .title h1 {
    font-size: 60px !important;
    }
    .blue-button {
      margin: 0px 105px 16px 0 !important;
      font-size: 15px !important;
    }
  }
  .blue-main-content{
    // display: block !important;
    .blue{
      font-size: 50px !important;
      word-spacing: 35px !important;
    }
    .lues{
      margin: -50px 0 0 0;
      font-size: 50px !important;
      line-height: 163px !important;
    }
  }
  .blue-pics-content{

    .blue-girl4, .blue-girl3 {
      width: 75% !important;
      margin: 0 0 0 -20px !important;
    }

    .blue-girl5, .blue-girl2 {
      width: 75% !important;
      margin: 0 0 0 -20px !important;
    }

    .buy-now-blue-pics{
      margin: 28px 0 20px -52px !important;
      font-size: 16px !important;
    }

  }

  // *******************************

  .red-sale-banner{
    .title h1 {
    margin-top: 21px !important;
    margin-bottom: 15px !important;
    font-size: 48px !important;
    text-align: center !important;
    }
    .title h2 {
      font-size: 20px !important;
      text-align: center !important;
    }
    .red-button {
    margin: 0px 105px 0px 0 !important;
    font-size: 15px !important;
    }

  }
  .red-main-content{
    .red-girl{
      width: 77% !important;
    }
    .red{
      font-size: 40px !important;
      word-spacing: 48px !important;
    }
    .reds{
      margin: -50px 0 0 0;
      font-size: 40px !important;
      line-height: 157px !important;
    }
  }
  .red-pics-content{

    .red-girl2, .red-girl4 {
      width: 85% !important;
      margin: 0 0 0 0px !important;
    }

    .red-girl33, .red-girl55 {
      // width: 100% !important;
      margin: 4px 0 0 0px !important;
    }

    .buy-now-red-pics{
      margin: 40px 0 0px -52px !important;
      font-size: 16px !important;
    }

  }
  .social-ul li{
    margin: 9px 20px 0 22px !important
  }
}

@media screen and (max-width: 370px){
// ********  blue  *************
  .blue-sale-banner{
    .title h1 {
    margin: 15px 0 17px 0 !important;
    font-size: 48px !important;
    text-align: center !important;
    }
    .title h2 {
      font-size: 17px !important;
      text-align: center !important;
    }
    .blue-button {
    margin: 0px 66px 16px 0 !important;
    font-size: 15px !important;
    }
  }
  .blue-main-content{
    .blue-girl{
      width: 81% !important;
    }
    .blue{
      font-size: 40px !important;
      word-spacing: 25px !important;
    }
    .lues{
      margin: -75px 0 0 0;
      font-size: 40px !important;
      line-height: 198px !important;
    }
  }
  .blue-pics-content{

  .blue-girl4, .blue-girl3 {
    width: 75% !important;
    margin: 0 0 0 -20px !important;
  }

  .blue-girl5, .blue-girl2 {
    width: 75% !important;
    margin: 0 0 0 -20px !important;
  }

  .buy-now-blue-pics{
    margin: 28px 0 20px -52px !important;
    font-size: 16px !important;
  }

  }

// *******************************

  .red-sale-banner{
    .title h1 {
    margin-top: 21px !important;
    margin-bottom: 15px !important;
    font-size: 48px !important;
    text-align: center !important;
    }
    .title h2 {
      font-size: 20px !important;
      text-align: center !important;
    }
    .red-button {
    margin: 0px 72px 0px 0 !important;
    font-size: 15px !important;
    }

  }
  .red-main-content{
    .red-girl{
      width: 77% !important;
    }
    .red{
      font-size: 40px !important;
      word-spacing: 25px !important;
    }
    .reds{
      margin: -50px 0 0 0;
      font-size: 40px !important;
      line-height: 135px !important;
    }
  }
  .red-pics-content{

    .red-girl2, .red-girl4 {
      width: 85% !important;
      margin: 0 0 0 0px !important;
    }

    .red-girl33, .red-girl55 {
      // width: 100% !important;
      margin: 4px 0 0 0px !important;
    }

    .buy-now-red-pics{
      margin: 40px 0 0px -52px !important;
      font-size: 16px !important;
    }

  }
  .social-ul li{
    margin: 9px 20px 0 6px !important
  }

}
