

<container lass="cont-blues">
    <!-- blue:  main section-->
    <row class="blue-main">
      <columns>
        <row class="blue-main-content">
          <columns>

              <!-- title & images -->

              <columns small="12" large="12" >
                <!-- blues: title - top -->
                <h1 class="top-title">
                  <span class="blue"> B </span>
                  <span class="blue"> L </span>
                  <span class="blue"> U </span>
                  <span class="blue"> E </span>
                </h1>

                <!-- blues: img -->
                <img class="blue-girl float-right " src="{{ root }}/assets/img/total-envy/blues1.png" width="369" heigh="768">

                <!-- blues: title - side -->
                <h1 class="side-title">
                  <span class="lues"> L </span>
                  <span class="lues"> U </span>
                  <span class="lues"> E </span>
                  <span class="lues"> S </span>
                </h1>

                <!-- blues: button  -->
                <a href="#link-blue" class="buy-now-blue" class="blue-button" >Buy Now</a>
              </columns>

                
          </columns>
        </row>
      </columns>
    </row>


</container>