

<container class="cont-pics">
   <!-- blue: pics section -->
   <row in="link-blue" class="blue-pics">
    <columns>
        <row class="blue-pics-content">
          <columns>
                <!-- left-pics -->
                <columns small="12"  class="left-pics">
                  <!-- blues: img  crop top/bottom l-->
                  <img class="blue-girl5" src="{{ root }}/assets/img/total-envy/blues5.png" width="48" heigh="48">

                  <!-- blues: img blue-sheer top -->
                  <img class="blue-girl2 " src="{{ root }}/assets/img/total-envy/blues2.png" width="48" heigh="48">
                </columns>

                <!-- right-pics -->
                <columns small="12" class="left-pics">
                    <!-- blues: img  crop top/bottom l-->
                    <img class="blue-girl4" src="{{ root }}/assets/img/total-envy/blues4.png" width="48" heigh="48">

                    <!-- blues: img blue-sheer top -->
                    <img class="blue-girl3 " src="{{ root }}/assets/img/total-envy/blues3.png" width="48" heigh="48">

                    <!--  button  -->
                    <a href="#link-blue" class="buy-now-blue-pics" class="red-button" >Buy Now
                    </a>
                </columns>
          </columns>
        </row>
      </columns>
    </columns>
  </row>
</container>