

<container >
    <!-- blue: discount section -->
    <row id="link-blue" class="blue-banner">
      <columns>
          <row class="blue-sale-banner">
            <columns>

              <!-- blues: Sale title  -->
              <columns small="12" large="6" class="title" class="small-text-center">
                <!-- class="small-text-center" -->
                <h1>50% OFF</h1>
                <h2>EVERYTHING</h2>
              </columns>

              <!-- blues: Sale button  -->
              <columns  large="6">
                <a href="#link-blue" class="blue-button" >Blue Sale</a>
              </columns>

            </columns>
          </row>
      </columns>
    </row>


</container>




