

<container >
  <!-- footer - social media -->
  <row id="footer" class="footer-media">
    <columns>
      <row class="footer-media-content">
        <coluns>
            <columns>
              <h1>GET SOCIAL. FOLLOW US ON:</h1>
        
              <ul>      
                  <li>
                    <a href="#footer">
                      <img src="{{ root }}/assets/img/total-envy/facebook.png">
                    </a>
                  </li>

                  <li>
                    <a href="#footer">
                      <img src="{{ root }}/assets/img/total-envy/twitter.png">
                    </a>
                  </li>

                  <li>
                    <a href="#footer">
                      <img src="{{ root }}/assets/img/total-envy/pinterest.png">
                    </a>
                  </li>

                  <li>
                    <a href="#footer">
                      <img src="{{ root }}/assets/img/total-envy/instagram.png">
                    </a>
                  </li>
              </ul>
            </columns>
        </coluns>
      </row>
    </columns>
  </row>

  <!-- footer - copy rights -->
  <row id="footer" class="footer-copyright">
    <columns>

      <h1>
        View in browser
          <a class="ancher" href="#footer">
            <em>www.totalenvy.com</em>
          </a>
      </h1>

      <h1>
        See Rewards <a class="ancher" href="#footer"><em>Program Terms</em></a> for details.
      </h1>
    
      <h1>
        <a class="ancher" href="#footer">Contact Us</a>   |    <a class="ancher" href="#footer">Unsubscribe</a>  |   
        <a class="ancher" href="#footer">Privacy Notice</a>   |
        <a class="ancher" href="#footer">Terms of Use </a> 

      </h1>

      <h1>
        Total Envy Customer Service, 300 Lester Road, New YOrk, NY 01001 © 2021 Total Envy Inc. All rights reserved.
      </h1>
    </columns>
  </row>
</container>
