

<container class="table-container">
    <!--  header  -->
    <row class="header" >
      <columns large="12" class="large-offset-12 ">
        <h1> TOTAL ENVY</h1>
      </columns>
    </row>

    <!-- header - nav -->
    <row class="nav-header">
      <columns  small="10"  large="4" class="large-offset-1" >
        <a href="#" class="nav-title text-center">What's New</a>
      </columns>

      <columns small="10"  large="4" class="large-offset-1">
        <a href="#" class="nav-title text-center">Trending</a>
      </columns>

      <columns small="10"  large="4" class="large-offset-1">
        <a href="#" class="nav-title text-center">Sale</a>
      </columns>

    </row>
</container>