
<container >
    <!-- merch links -->
    <row id="store-links" class="merch-links">
      <columns>
        <columns class="merch-title">
            <hr>
            <a href="#store-links"><h1>NEW APPAREL</h1></a>
            <hr>
  
            <a href="#store-links"><h1>HANEDBAGS</h1></a>
            <hr>
  
            <a href="#store-links"><h1>DENIM</h1></a>
            <hr>
  
            <a href="#store-links"><h1>DRESSES</h1></a>
            <hr>
  
            <a hr href="#store-links"><h1>TOPS</h1></a>
            <hr>
  
            <a href="#store-links"><h1>SWEATERS</h1></a>
            <hr>
  
            <a href="#store-links"><h1>JACKETS & COATS</h1></a>
            <hr>
  
            <a href="#store-links"><h1>SHOES</h1></a>
            <hr>
  
            <a href="#store-links"><h1>JEWELRY</h1></a>
            <hr>
  
            <a href="#store-links" class="sale"><h1>SALE</h1></a>
            <hr>
        </columns>
      </columns>
    </row>
</container>


