

<container>

  <!-- red: main section-->
  <row id="link-red" class="red-main">
    <columns>
      <row class="red-main-content">
        <columns>
      
            <!-- title & images -->
            <columns>
              <!-- red: title - top -->
              <h1 >
                <span class="red"> B </span>
                <span class="red"> O </span>
                <span class="red"> L </span>
                <span class="red"> D </span>
              </h1>
              
              <!-- red: image -->
              <img class="red-girl float-right " src="{{ root }}/assets/img/total-envy/red1.png" width="369" heigh="768">

              <!-- red:  title - side -->
              <h1 >
                <span class="reds"> L </span>
                <span class="reds"> O </span>
                <span class="reds"> O </span>
                <span class="reds"> D </span>
                <span class="reds"> E </span>
                <span class="reds"> D </span>
              </h1>

              <a href="#link-red" class="buy-now-red" class="red-button" >Buy Now
              </a>
            </columns>

        </columns>
      </row>
    </columns>
  </row>

</container>