

<container>

  <!-- red: pics section -->
  <row id="link-pics" class="red-pics">
    <columns>
      <row class="red-pics-content">
        <columns>
            <!-- left-pics -->
            <columns class="left-pics">
              <!-- reds: img  knee length jacket l-->
              <img class="red-girl2" src="{{ root }}/assets/img/total-envy/RED2.png" width="48" heigh="48">

              <!-- reds: img leather jacket -->
              <img class="red-girl3 " src="{{ root }}/assets/img/total-envy/RED4.png" width="48" heigh="48">
            </columns>
            
            <!-- right-pics -->
            <columns class="right-pics">
              <!-- reds: img - leather skirt -->
              <img class="red-girl2" src="{{ root }}/assets/img/total-envy/RED33.png" width="48" heigh="48">
              <!-- reds: img - dress/blazer -->
              <img class="red-girl3 dress" src="{{ root }}/assets/img/total-envy/RED55.png" width="48" heigh="48">


              <!--  button  -->
              <a href="#link-pics" class="buy-now-red-pics" class="red-button" >Buy Now
              </a>
            </columns>

        </columns>
      </row>
    </columns>
  </row>
  
</container>